* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@font-face
{
    font-family: 'LocalArial';
    src:url('../res/Arial.ttf') format('truetype');
}

html {
    width:100%;
    height:100%;
}
body {
    -webkit-touch-callout: none;  /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;  /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    font-family:'LocalArial','HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    margin:0px;
    padding:0px;
    width:100%;
    height:100%;
    --color-header:    #FFA500;
    --color-cardfront: #FCFF66;
    --color-cardback:  #EFEF20;
    --color-line:      #FF4040;
    --color-box0:      #e0a8a8;
    --color-box1:      #e0c4a8;
    --color-box2:      #e0dfa8;
    --color-box3:      #cde0a8;
    --color-box4:      #b7e0a8;
    --color-background-bright: #E4E4E4;
    --color-background-dark:   #bcbcbc;
    --color-selected-dark:     #002d77;
    --color-selected-bright:   #0043af;
}

button {
    font-size: 100%;
    outline-style: none;
}

/* Portrait layout (default) */
.app {
    height:auto;
    bottom: 0em;
    width:100%; 
    text-align:center;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
    }
}

.greyedOut {
   /*background-color: rgba(84,84,84,0.8);*/
    -webkit-animation: 2000ms greyedOut;
            animation: 2000ms greyedOut;
}

@-webkit-keyframes greyedOut {
    100% { background-color: rgba(84,84,84,0.8); }
}

@keyframes greyedOut {
    100% { background: rgba(84,84,84,0.8); }
}

#question_border {
    position:absolute;
    font-size:400%;
    top:40%;
    left:10%;
    height:20%;
    width:80%;
    background-color: #FCFF66;
}

#questionDiv {
    position:absolute;
    top:5em;
    border: 1em;
    left:10%;
    width:80%;
    bottom:60%;
    background-color: #FCFF66;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#question {
    font-size:600%;
    height:auto;
    width:auto;
    display:inline;
}

#prev_question {
    font-size:600%;
    height:auto;
    width:auto;
    display:inline;
}


#questionLine
{
    position:absolute;
    width:90%;
    height: 2pt;
    top:80%;
    left:5%;
    background-color: #FF4040;
}

.questionLineSmall
{
    position:absolute;
    width:90%;
    left:5%;
    height: 1pt;
    background-color: black;
}


.Training {
    visibility:hidden;
}

.edit {
    visibility:hidden;
}

#answerArea
{
    position:absolute;
    overflow:hidden;
    top:40%;
    left:17%;
    height:55%;
    width:66%;
}

#swipeArea {
    position:absolute;
    overflow:hidden;
    top:0%;
    left:0%;
    height:100%;
    width:100%;
}

#answerDiv {
    width:100%;
    height: 100%;
    background-color: #EFEF20;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#answer {
    font-size:600%;
    height:auto;
    width:auto;
    display:inline;
}

#coverDiv {
    position:absolute;
    top:0%;
    left:0%;
    height:100%;
    width:100%;
    
    background-color: #EFEF20;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cover {
    font-size:600%;
    height:auto;
    width:auto;
    display:inline;
}

#prev_answer {
    font-size:600%;
    height:auto;
    width:auto;
    display:inline;
}

#ButtonSave {
    position:absolute;
    bottom: 5%;
    right: 5%;
    height: 6em;
    width: 6em;

    background-color: green;
    border-radius: 3em;
    font-size:100%;
}

#ButtonCancel {
    position:absolute;
    bottom: 5%;
    left: 5%;
    width: 6em;
    height: 6em;

    background-color: red;
    border-radius: 3em;
    font-size:100%;
}

#SaveCaption {
    font-size:175%;
}

#CancelCaption {
    font-size:160%;
}


#ButtonCorrect {
    position:absolute;
    top: 60%;
    left: 85%;
    height: 30%;
    width: 15%;

    background-color: green;
    border-top-left-radius: 40%;
    border-bottom-left-radius: 40%;
    font-size:400%;
}

#ButtonWrong {
    position:absolute;
    top: 60%;
    left: 0%;
    height: 30%;
    width: 15%;
    font-size:400%;

    background-color: red;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;

}

.centerContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.centerElement {
    display: inline;
}    

#ImageCorrect {
    width: 60%;
    margin-left: auto;
    margin-right:0;
}

#ImageWrong {
    width:60%;
    margin-right: auto;
    margin-left: 0;
}

#ImageMenu
{
    position:absolute;
    top:0%;
    left:0%;
    height: 100%;
    width:auto;
    padding:2pt;
    box-sizing: border-box;
}

.boxDiv {
    position:absolute;
    border-top-right-radius: 5pt;
    border-top-left-radius: 5pt;
    top: 3em;
    height: 2em;
    width: 14%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box
{
    display:inline;
    font-size: 200%;
}

#MenuHeader
{
    position: absolute;
    background-color: #FFA500;
    top:0%;
    left:0%;
    width: 100%;
    height: 6em;
    z-index: 110;
}

#MenuCaption
{
    position: absolute;
    top: 0%;
    left:0%;
    width:60%;
    padding: 1em;
    font-size:200%;
}

#BottomBar {
    padding-left: 2em;
    position: absolute;
    right: 2em;
    left: 2em;
    box-sizing: border-box;
    height: 6em;
    bottom: 2em;
}

#Toolkit
{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0em 3em;    
    height: 4em;
    box-sizing: border-box;

    display: flex;
    
    background: gray;
    opacity: 0.86;

}

#InputSearch {
    visibility: hidden;
    height: 1.5em;
    width:100%;
    margin-top: -2em;
    font-size: 200%;
}

#ContainerInputSearch {
    position: absolute;
    left: 8em;
    right: 8em;
}

.ToolButton
{
    height: 100%;
    width: 4em;
    padding: 5px;
    
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;

    margin: 0 0.15em;
}
		
#Box0Div
{
    left: 11%;
    background-color: #e0a8a8;
}
#Box1Div
{
    left: 27%;
    background-color: #e0c4a8;
}
#Box2Div
{
    left: 43%;
    background-color: #e0dfa8;
}
#Box3Div
{
    left: 59%;
    background-color: #cde0a8;
}
#Box4Div
{
    left: 75%;
    background-color: #b7e0a8;
}

#FileList
{
    position: absolute;
    background-color:  #E4E4E4;
    top:6em;
    left:0%;
    width:100%;
    bottom:0em;
    height: auto;
    overflow: hidden;
}

.CircularButton {
    width: 6em;
    height: 6em;
    border-radius: 50%;
}

#ButtonStart {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #03e000;
}

#ButtonLoad {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #1c23ea;
}

#ImageLoad
{
    width:100%;
    height:100%;
}

#ImageStart
{
    width:100%;
    height:100%;
}

#listRecent
{
    position:absolute;
    top:0%;
    left:0%;
    width: 100%;
    bottom: 0em;
    height: auto;
    overflow: scroll;
    padding-bottom: 10em;
}

.listElement
{
    width:100%;
    height: 4em;
    text-align: left;
    padding: 1em;
    box-sizing: border-box;
    position:relative;
    background: #E4E4E4;
}

.listElementEven
{
    background-color: #bcbcbc;
}

.listElementSelected
{
    background-color: #0043af;
    color:white;
}

.listElementSelected.listElementEven
{
    background-color: #002d77;
}

.listElementDisabled
{
    color: grey;
}

.List
{
    
}

.listStatusIcon
{
    position:absolute;
    top:0.5em;
    left:0.5em;
    height: 3em;
    width:3em;
    display:inline-flex;
    flex-direction: row;
    border-radius:3px;
    overflow:hidden;
}

.listStatusPercent
{
    position:absolute;
    top:1.5em;
    left:1em;
    height:2em;
    width:2em;
}

.listStatusPercentWarn
{
    color: red;
    text-align: center;
    font-size: 2em;
    top: 0.75em;
    left: 0.5em;
    height: 1em;
    width: 1em;
}

.listStatusLayer
{
    height:auto;
    width:auto;
    display:inline;
}

.listCaption
{
    position:absolute;
    font-size: 200%;
    text-align: left;
    top:0.5em;
    left:2em;
    display:inline;
}

.listCaptionNA
{
    color: grey;
}

#Lection {
    position:relative;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 6em;
    background-color: #bcbcbc;
}

#ButtonMenu {
    position:absolute;
    top: 1%;
    left: 1%;
    height: 100%;
    visibility:hidden;
}

#preview
{
    opacity: 0.8;
    position:absolute;
    top: 2em;
    left: 60%;
    width: 40%;
    height: 40%;
    z-index: 100;
}

#preview #answerContainer {
    text-align: center;
}

#preview #questionContainer {
    text-align: center;
}

#ImageSwitch
{
    position: absolute;
    width: 20%;
    height: auto;
    top:38%;
    left: 40%;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.longpress {
    -webkit-animation: 1s longpress;
            animation: 1s longpress;
}

@-webkit-keyframes longpress {
    100% { background: #4c4c4c; }
}

@keyframes longpress {
    100% { background: #4c4c4c; }
}

.DialogChooser
{
    box-sizing: border-box;
    flex: 1;
    padding: 0.75em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    text-align:center;
}

.DialogChooserSelected
{
    background-color: #fcff66;
}

#ChooserPannel
{
    font-size:150%;
    position:absolute;
    box-sizing: border-box;
    display: flex;
    top:2.5em;
    left:0%;
    width:100%;
    height:2.5em;
    background-color: #bcbcbc;
}

#editVeil
{
    position: absolute;
    top: 0%;
    left:0%;
    width:100%;
    height:100%;
    background-color: rgba(84,84,84,0.8);
    visibility: hidden;
}

#editAnswer {
    position: absolute;
    top:40%;
    left:17%;
    height:55%;
    width:66%;
    background-color: #EFEF20;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#editQuestion {
    position:absolute;
    top:5em;
    border: 1em;
    left:10%;
    width:80%;
    bottom:60%;
    background-color: #FCFF66;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#dialogVeil
{
    position: absolute;
    top: 0%;
    left:0%;
    width:100%;
    height:100%;
    background-color: rgba(84,84,84,0.8);
    visibility: hidden;
    z-index: 120;
}

#dialog
{
    position: absolute;
    top: 10%;
    left: 10%;
    width:80%;
    height: 80%;
    padding: 5%;
    box-sizing: border-box;
    background-color:  #FFA500;
    text-align:left;
}

#dialogBackground
{
    font-size:200%;
    position:absolute;
    top:2em;
    bottom:0em;
    left:0%;
    right:0%;
    background-color: #FCFF66;
}

#dialogHeader
{
    position: absolute;
    top:0%;
    left:0%;
    font-size: 200%;
    text-align:center;
    width:100%;
    height: 2em;
    line-height:2em;
    box-sizing:border-box;
    background-color: #FFA500;
}

.DialogTab
{
    position:absolute;
    left:0%;
    right:0%;
    top:7em;
    bottom: 5em;
    padding: 1em;
    box-sizing:border-box;
    overflow: auto;
    background-color: #FCFF66;
}

#dialogListDiv
{
    width: 100%;
    border-collapse: collapse;
    font-size: 150%;
}

.trEven {
    background-color: #EFEF20;
}

.trFound {
    background-color: #FF6730;
}

.tdLeftBorder {
    border-left: solid black 1px;
    padding-left:0.5em
}
.tdRightBorder {
    border-right: solid black 1px;
}

#dialogProgress
{
    height: 3em;
    display:inline-flex;
    flex-direction: row;
    border-radius:3px;
    overflow:hidden;
    width:100%;
}

.DialogButton
{
    height: 2em;
    line-height: 2em;
    text-align: center;
    font-size: 200%;
    width: 100%;
    border-radius: 0.3em;
    border-style: solid;
    border-witdh: 5px;
    border-color: black;
    box-sizing: border-box;
    background-color: #FCFF66;
}

#OptionContent {
    padding: 5%;
}

#OptionContent > div {
    font-size: 80%;
}

.DialogExplain {
    margin-bottom: 1em;
    padding: 1em;
    font-size: 170%;
}

.DialogButton:active {
    background-color: rgba(50,50,50,0.8);
}

#dialogBack
{
    position: absolute;
    bottom:0.5em;
    width:auto;
    left: 0.5em;
    right: 0.5em;
}

#dialogRemove
{
    top: 1em;
}

#dialogRevert
{
    top: 4em;
}

#dialogReset
{
    top:7em;
}

#cancel
{
    position: absolute;
    top:80%;
    right:5%;
    width: 40%;
    height: 15%;
}

div#MessageBox {
    top: 0;
    left:  0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to bottom, rgba(100,100,100,0), rgba(100,100,100,1));
}

div#Message {
    position: absolute;
    top: 70%;
    left: 0;
    width: 100%;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(50,50,50,0.1), rgba(50,50,50,1));
    color: white;
    font-size: 250%;
    padding: 2em;
    box-sizing: border-box;
}

#UndoDiv {
  width: 12vw; /* Set the size of the progress bar */
  height: 12vw;
  position: absolute; /* Enable clipping */
  left: 0;
  bottom: 40%;
  display: block;
  opacity: 0.5;
  visibility:hidden;
  overflow: hidden;

  -webkit-animation-duration: 0.01s;
  -webkit-animation-delay: 2s;
  -webkit-animation-name: remove;
}

#UndoIcon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20%;
    background: rgba(68,68,68,0.8);
    border-radius: 50%;
}

#UndoBackground {
  width: 100%;
  height: 100%;
  border: 4px solid rgba(68,68,68,0);
  box-sizing:border-box;
  position: absolute;
}


#UndoAnimDiv {
  width: 100%; /* Set the size of the progress bar */
  height: 100%;
  position: absolute; /* Enable clipping */
  clip-path: none;
  top:0;
  left:0;

  -webkit-animation-duration: 0.01s; /* Complete keyframes asap */
  -webkit-animation-delay: 1s; 
  -webkit-animation-name: close-wrapper;

}

/* Set the sizes of the elements that make up the progress bar */
#UndoCircleL {
    width: 100%;
    height: 100%;
    border: 4px solid rgba(68,68,68,1);
    border-radius: 50%;
    position: absolute;
    box-sizing:border-box;
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
    
    -webkit-animation-duration: 2s; /* Full animation time */
    -webkit-animation-name: left-spin;
}

#UndoCircleR {
    width: 100%;
    height: 100%;
    border: 4px solid rgba(68,68,68,1);
    border-radius: 50%;
    position: absolute;
    box-sizing:border-box;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
    
    -webkit-animation-duration: 0.01s;
    -webkit-animation-delay: 1s;
    -webkit-animation-name: remove;
}   

/* Base settings for all animated elements */
div[data-anim~=base] {
  -webkit-animation-iteration-count: 1;  /* Only run once */
  -webkit-animation-fill-mode: forwards; /* Hold the last keyframe */
  -webkit-animation-timing-function:linear; /* Linear animation */
}

/* Rotate the left side of the progress bar from 0 to 360 degrees */
@-webkit-keyframes left-spin {
    from {
	-webkit-transform: rotate(360deg);
    }
    to {
	-webkit-transform: rotate(0deg);
    }
}
@-webkit-keyframes close-wrapper {
    to {
	clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
    }
}

@-webkit-keyframes remove {
    to {
	visibility: hidden;
    }
}
